
.container
 
  .row
    
    .page-header
      %h4 Форма для ввода 
    
    %p= "<div class=\"diff\">\n  <ul>\n    <li class=\"unchanged\"><span>Вафывафвыа</span></li>\n    <li class=\"del\"><del><strong>По мнению американского генерала в отставке Джеймса Маркса, Владимир Путин мог бы помочь в независимом расследовании авиакатастрофы в Донецке. В интервью CNN бывший военный заявил, что российский президент мог бы ради этого ввести войска на восток Украины и освободить место крушения малайзийского лайнера от ополченцев. «Это помогло бы вникнуть в суть происшествия», уверен эксперт.</strong></del></li>\n    <li class=\"ins\"><ins><strong></strong></ins></li>\n    <li class=\"ins\"><ins><strong>вафывафыв</strong></ins></li>\n  </ul>\n</div>\n".html_safe
    .col-md-12.col-md-offset-3
      = form_for(@post) do |f|

        - if @post.errors.any?
          #error_explanation
            %h5
              = pluralize(@post.errors.count, "error")
              prohibited this post from being saved:
            %ul
              - @post.errors.full_messages.each do |msg|
                %li= msg
        .col-md-10    
          - (1..10).each do |n|

            .control-group
              = f.label "#{'text# ' + n.to_s + " "}"
              = f.text_area "#{'text' + n.to_s}"

          .actions
            = f.submit
        
